apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - helmrelease.yaml
# Patches can be added here for common modifications if needed,
# but cluster-specific patches will be in the cluster's overlay kustomization. 